In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2022-05-12 13:20:26,41.3712,-73.4140,70.66,70,100,4.61
1,1,Ushuaia,AR,2022-05-12 13:20:26,-54.8000,-68.3000,42.46,93,100,3.44
2,2,Codrington,AU,2022-05-12 13:20:27,-38.2667,141.9667,58.42,87,97,3.29
3,3,Descalvado,BR,2022-05-12 13:20:27,-21.9039,-47.6194,65.28,68,91,0.89
4,4,Hobart,AU,2022-05-12 13:20:28,-42.8794,147.3294,52.05,89,0,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [15]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Palasa,IN,2022-05-12 13:20:31,18.7667,84.4167,83.61,80,20,9.06
13,13,Hambantota,LK,2022-05-12 13:20:32,6.1241,81.1185,81.81,79,100,18.30
17,17,Eydhafushi,MV,2022-05-12 13:20:34,5.1033,73.0708,83.86,79,100,20.13
18,18,Sri Aman,MY,2022-05-12 13:20:34,1.2376,111.4621,77.05,94,98,0.00
22,22,Bambous Virieux,MU,2022-05-12 13:20:36,-20.3428,57.7575,76.21,88,75,2.30
23,23,Shirgaon,IN,2022-05-12 13:20:37,19.7000,72.7000,85.14,77,25,13.85
24,24,Ewo,CG,2022-05-12 13:20:37,-0.8725,14.8206,78.82,77,81,2.24
25,25,Rikitea,PF,2022-05-12 13:17:31,-23.1203,-134.9692,76.87,78,41,20.33
27,27,Ponta Do Sol,PT,2022-05-12 13:20:38,32.6667,-17.1000,76.71,70,1,3.00
29,29,Chardara,KZ,2022-05-12 13:20:38,41.2547,67.9692,79.86,30,100,9.35

In [21]:
preferred_cities_df.count()

City_ID       174
City          174
Country       174
Date          174
Lat           174
Lng           174
Max Temp      174
Humidity      174
Cloudiness    174
Wind Speed    174
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
11           Palasa      IN     83.61  18.7667   84.4167
13       Hambantota      LK     81.81   6.1241   81.1185
17       Eydhafushi      MV     83.86   5.1033   73.0708
18         Sri Aman      MY     77.05   1.2376  111.4621
22  Bambous Virieux      MU     76.21 -20.3428   57.7575
23         Shirgaon      IN     85.14  19.7000   72.7000
24              Ewo      CG     78.82  -0.8725   14.8206
25          Rikitea      PF     76.87 -23.1203 -134.9692
27     Ponta Do Sol      PT     76.71  32.6667  -17.1000
29         Chardara      KZ     79.86  41.2547   67.9692

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [32]:
# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [33]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
11,Palasa,IN,83.61,18.7667,84.4167,Balaji tifen & meals veg & non veg hotel
13,Hambantota,LK,81.81,6.1241,81.1185,Bungalow 63
17,Eydhafushi,MV,83.86,5.1033,73.0708,Soneva Fushi
18,Sri Aman,MY,77.05,1.2376,111.4621,Seri Simanggang Hotel
22,Bambous Virieux,MU,76.21,-20.3428,57.7575,Casa Tia Villa
...,...,...,...,...,...,...
528,La Maddalena,IT,80.76,41.2142,9.4083,Hotel Il Gabbiano
532,Celestun,MX,77.72,20.8667,-90.4000,Posada Lilia
534,Nsanje,MW,84.09,-16.9200,35.2620,Nsanje Discovery Lodge
537,Coahuayana,MX,83.97,18.7333,-103.6833,El rranchito michuacan de ocampos
544,Latung,PH,83.28,5.5000,120.8833,

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))