## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/Weatherpy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,82.36,93,91,3.00,overcast clouds
1,1,Moranbah,AU,-22.0016,148.0466,71.62,78,99,17.45,overcast clouds
2,2,Bac Lieu,VN,9.2850,105.7244,81.01,81,100,5.53,overcast clouds
3,3,Bonavista,CA,48.6499,-53.1147,38.55,90,87,13.56,overcast clouds
4,4,Nikolskoye,RU,59.7035,30.7861,47.88,93,100,6.04,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is your desired minimum temperature for your trip? "))
max_temp = float(input("What is your desired maximum temperature for your trip? "))

What is your desired minimum temperature for your trip? 75
What is your desired maximum temperature for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)]
preferred_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,82.36,93,91,3.00,overcast clouds
2,2,Bac Lieu,VN,9.2850,105.7244,81.01,81,100,5.53,overcast clouds
7,7,Morehead,US,37.2711,-87.1764,76.75,33,0,0.00,clear sky
18,18,Avarua,CK,-21.2078,-159.7750,82.45,65,40,8.05,scattered clouds
20,20,Carutapera,BR,-1.1950,-46.0200,78.53,87,56,7.54,broken clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Lazaro Cardenas,MX,17.9583,-102.2000,85.73,45,69,11.59,broken clouds
690,690,Biak,ID,-0.9131,122.8766,78.17,83,99,1.81,overcast clouds
695,695,Axim,GH,4.8699,-2.2405,80.13,85,93,5.99,overcast clouds
696,696,Bassila,BJ,9.0081,1.6654,78.21,68,47,5.41,scattered clouds
698,698,Arawa,PG,-6.2132,155.5367,84.09,71,99,0.81,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,82.36,93,91,3.00,overcast clouds
2,2,Bac Lieu,VN,9.2850,105.7244,81.01,81,100,5.53,overcast clouds
7,7,Morehead,US,37.2711,-87.1764,76.75,33,0,0.00,clear sky
18,18,Avarua,CK,-21.2078,-159.7750,82.45,65,40,8.05,scattered clouds
20,20,Carutapera,BR,-1.1950,-46.0200,78.53,87,56,7.54,broken clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Lazaro Cardenas,MX,17.9583,-102.2000,85.73,45,69,11.59,broken clouds
690,690,Biak,ID,-0.9131,122.8766,78.17,83,99,1.81,overcast clouds
695,695,Axim,GH,4.8699,-2.2405,80.13,85,93,5.99,overcast clouds
696,696,Bassila,BJ,9.0081,1.6654,78.21,68,47,5.41,scattered clouds
698,698,Arawa,PG,-6.2132,155.5367,84.09,71,99,0.81,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,82.36,overcast clouds,-0.7393,-90.3518,
2,Bac Lieu,VN,81.01,overcast clouds,9.2850,105.7244,
7,Morehead,US,76.75,clear sky,37.2711,-87.1764,
18,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,
20,Carutapera,BR,78.53,broken clouds,-1.1950,-46.0200,
23,Tual,ID,84.09,scattered clouds,-5.6667,132.7500,
26,Waynesville,US,75.54,clear sky,35.4887,-82.9887,
27,Burley,US,76.96,clear sky,42.5357,-113.7928,
34,Rikitea,PF,77.41,few clouds,-23.1203,-134.9692,
35,Hilo,US,88.29,broken clouds,19.7297,-155.0900,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Cannot find hotel...skipping.")

Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.
Cannot find hotel...skipping.

In [11]:
import numpy as np

In [12]:
# 7. Drop the rows where there is no Hotel Name.
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,82.36,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
2,Bac Lieu,VN,81.01,overcast clouds,9.2850,105.7244,Khách sạn Sài Gòn Bạc Liêu
7,Morehead,US,76.75,clear sky,37.2711,-87.1764,CCI Express Inn
18,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,Paradise Inn
20,Carutapera,BR,78.53,broken clouds,-1.1950,-46.0200,Lidera
...,...,...,...,...,...,...,...
688,Lazaro Cardenas,MX,85.73,broken clouds,17.9583,-102.2000,HOTEL QUINTA ANTIGUA
690,Biak,ID,78.17,overcast clouds,-0.9131,122.8766,Penginapan Kim
695,Axim,GH,80.13,overcast clouds,4.8699,-2.2405,Axim Beach Resort And Spa
696,Bassila,BJ,78.21,scattered clouds,9.0081,1.6654,COMPLEXE MAKOYA ET FILS
698,Arawa,PG,84.09,overcast clouds,-6.2132,155.5367,Coastline Guest House

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "Weatherpy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure